<%= form_with(model:  @job, local: true) do |form| %>
  <h1 style=" text-align: center;text-transform: uppercase; color: #4CAF50;"> New Job </h1>
  <style>
    .center {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      text-align: center;
      font-size: 18px; }
  </style>

  <div style="position: absolute;
      left: 0;
      top: 20%;
      width: 100%;
      margin-left: 120px;
      font-size: 18px;">

    <p>
      <%= form.label :details , style:'text-align:left' %><br>
      <%= form.text_field :details, placeholder:'Details', style:'width: 400px; border: 2px solid #ccc; border-radius: 4px;  background-color: #f8f8f8;
      padding: 12px 20px'  %>
    </p>
<!--    <p>-->
<!--      <%#= form.label :Status %><br>-->
      <%#= form.text_field :status,placeholder:'Write something', class:'center' %>
<!--    </p>-->
    <p>
      <%= form.label :source_long , style:'text-align:left' %><br>
      <%= form.number_field :source_long,step: :any,  placeholder:'source long', style:'width: 400px; border: 2px solid #ccc; border-radius: 4px;  background-color: #f8f8f8;
      padding: 12px 20px'  %>
    </p>
    <p>
      <%= form.label :source_lat , style:'text-align:left' %><br>
      <%= form.number_field :source_lat,step: :any, placeholder:'source lat', style:'width: 400px; border: 2px solid #ccc; border-radius: 4px;  background-color: #f8f8f8;
      padding: 12px 20px'  %>
    </p>
    <p>
      <%= form.label :destination_long , style:'text-align:left' %><br>
      <%= form.number_field :destination_long,step: :any, placeholder:'destination_long', style:'width: 400px; border: 2px solid #ccc; border-radius: 4px;  background-color: #f8f8f8;
      padding: 12px 20px'  %>
    </p>
    <p>
      <%= form.label :destination_lat , style:'text-align:left' %><br>
      <%= form.number_field :destination_lat,step: :any, placeholder:'destination_lat', style:'width: 400px; border: 2px solid #ccc; border-radius: 4px;  background-color: #f8f8f8;
      padding: 12px 20px'  %>
    </p>
      <%= form.submit 'Save', class:'btn btn-success' %>
      <%= link_to 'Back', jobs_path, class:'btn btn-info'%>
    </p>
<% end %>

</div>